@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g4at3s');
  src:  url('fonts/icomoon.eot?g4at3s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g4at3s') format('truetype'),
    url('fonts/icomoon.woff?g4at3s') format('woff'),
    url('fonts/icomoon.svg?g4at3s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-quote .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-left-quote .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-left-quote .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
